body {
  color: rgba(0, 0, 0, 0.7);
}

.lo07-title {
  font-size: 2em;
}

.lo07-subtitle {
  font-size: 1.2em;
  margin-top: 0.4em;
}

ul.lo07-no-dot {
  list-style-type: none;
}

.lo07-ripple-white {
  position: relative;
  overflow:hidden;
}
.lo07-ripple-white .mdl-ripple {
  background-color: white;
}

.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons {
  padding: 5px;
  font-size: 30px;
}

.getmdl-select > .mdl-menu__container {
  margin-top: 2px;
}

.sweet-alert .sa-button-container .sa-confirm-button-container .confirm {
  background-color: #303F9F;
}

#page-body {
  transition-duration: 250ms;
  transform: translateY(0px);
  opacity: 1;
}

#page-body.pagemanager-body-loading {
  transition-duration: 150ms;
  transform: translateY(20px);
  opacity: 0;
}

.lo07-text-block {
  padding-left: 1em;
  box-sizing: border-box;
}

h5 {
  margin-bottom: 0.5em;
}

h6 {
  margin-bottom: 0em;
  margin-top: 0.5em;
}

a {
  cursor: pointer;
}

.lo07-card-title {
  padding: 1.5em 1em 0.7em 1em;
  background-color: #303F9F;
  color: white;
  font-size: 1.8em;
  line-height: 1.4em;
  vertical-align: bottom;
  font-weight: 300;
  transition-duration: 300ms;
}

.lo07-card-add .lo07-card-title {
  background-color: #FF5252;
}

.lo07-card-edit .lo07-card-title {
  background-color: #ffcc55;
  color: #222222;
}

.lo07-card-body {
  padding: 1em 2em 2em 3em;
}

.lo07-radio {
  margin-right: 2em;
}

.lo07-checkbox-block {
  margin-top: 1.5em;
}

.mdl-textfield {
  padding: 20px 0 5px 0;
}

.mdl-textfield__label::after {
  bottom: 5px;
}

.lo07-button-submit {
  margin: 3em 1em 1em 0;
}

.lo07-card-add .mdl-button--accent.lo07-button-submit {
  background-color: #FF5252;
}

.lo07-card-edit .mdl-button--accent.lo07-button-submit {
  color: #222222;
  background-color: #ffcc55;
}

.lo07-button-cancel {

}

.lo07-only-edit {
  display: none;
}

.lo07-card-edit .lo07-only-edit {
  display: inline-block;
}

.lo07-form-notice {

}

.lo07-green {
  color: #55dd55;
}

.lo07-red {
  color: #FF5252;
}

.lo07-yellow {
  color: #ffcc55;
}

.lo07-lightgrey {
 color: #cccdd5;
}

.lo07-hover-red:hover {
  color: #FF5252;
}

.lo07-hover-yellow:hover {
  color: #ffcc55;
}

.lo07-hover-blue:hover {
  color: #4C7AD8;
}

.lo07-transition-faster {
  transition-duration: 150ms;
}

table.lo07-list {
  font-size: 19px;
  width: 100%;
  font-weight: 300;
  padding: 0.5em;
}

table.lo07-list td {
  padding: 0.5em 0.5em;
}

.lo07-list-right {
  text-align: right;
}

.lo07-list-primary {
  font-weight: 400;
}

.lo07-list-icon {
  width: 1em;
}

table.lo07-list table.lo07-list {
  padding-top: 0;
  margin-top: -0.5em;
  padding-right: 0;
  width: calc(100% + 0.5em);
}

.lo07-text-icon {
  vertical-align: middle;
  padding-right: 0.3em;
  margin-top: -0.15em;
}

.lo07-tooltip-container {
  position: relative;
}

.lo07-tooltip-container .mdl-tooltip {
  position: absolute;
  top: -3px;
  left: 100%;
  white-space: nowrap;
}

.lo07-tooltip-container:hover .mdl-tooltip {
  display: inline-block;
  animation: pulse 200ms cubic-bezier(0,0,.2,1)forwards;
}
